# Servidor
NODE_ENV=development
PORT=3000

# Google Cloud Vision (ajustar segun el proveedor cloud que definamos)
GOOGLE_APPLICATION_CREDENTIALS=./credentials/google-vision-key.json

# Base de datos
DATABASE_URL=postgresql://user:password@localhost:5432/vision_extract_service
